---
import ArrowCard from "@components/ArrowCard.astro";
import { getCollection } from "astro:content";

type Props = {
  tag: string
}

const { tag } = Astro.props;

const posts = (await getCollection("blog"))
.filter(post => !post.data.draft)
.filter(post => post.data.tags?.includes(tag))
.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

---

<ul class="flex flex-col gap-4">
  {posts.map(post => (
    <li>
      <ArrowCard entry={post} />
    </li>
  ))}
</ul>